<!DOCTYPE html>
<html>
<head>
  <title>Hackathondottk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Idea Overflow</a>
    <ul class="nav">
      <li class="active"><a href="#">ideaMap</a></li>
      <li><a href="#">inProgress</a></li>
      <li><a href="#">Admire</a></li>
    </ul>
  </div>
</div>
<div class="container" style="width:90%">
	<%= yield %>
</div>
</body>
</html>
